{% extends 'problems/templates/base.html' %}
{% block title %}new problem{% endblock %}
{% block content %}

<script>
  $(document).ready(function() {
    $('.date').datepicker({'dateFormat':'yy-mm-dd'});
    $('#problem_fullname').autocomplete({
      serviceUrl: 'codelookup',
      minChars: 2,
      onSelect: function(value, data) {
        $('#problem_code').val(data.code);
      }
    })
  });
</script>

<h2>New Problem &nbsp;&nbsp;<span style="font-size:0.7em; font-weight: normal; text-transform: uppercase">[<a href="./">Cancel</a>]</span></h2>

  <form method="post" action="">
    <table class="light form">
      <col style="width: 20%"></col>
      <col style="width: 80%"></col>
      <tr>
        <td>Problem</td>
        <td>
          <input type="hidden" name="code" value="" id="problem_code" />
          <input type="text" name="code_fullname" id="problem_fullname" style="width: 100%" />
        </td>
      </tr>

      <tr>
        <td>Onset</td>
        <td><input type="text" name="date_onset" class="date" style="width: 100%" /></td>
      </tr>

      <tr>
        <td>Resolution</td>
        <td><input type="text" name="date_resolution" class="date" style="width: 100%" /></td>
      </tr>

      <tr>
        <td>Details</td>
        <td><textarea name="comments" cols="50" rows="3" wrap="soft" style="width: 100%"></textarea></td>
      </tr>

      <tr>
        <td>Diagnosed By</td>
        <td><input type="text" size="40" name="diagnosed_by" style="width: 100%" /></td>
      </tr>
    </table>

    <br />
    
    <div style="text-align: center">
      <input type="submit" value="Add New Problem" style="width: 33%"/>
    </div>
  </form>

{% endblock %}
